.modal-box-custom {
    @apply modal-box max-w-4xl modal-box-2;
}

.modal-box-2 {
    max-height: calc(120vh - 5em) !important;
}

/* .modal {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(51, 51, 51, 0.3);
    top: 0;
    left: 0;
    z-index: 1;
  }
   */